[project]
	description = gerrit integration
[access "refs/*"]
	owner = group user/muthu4all (muthu4all)
[access "refs/for/refs/*"]
	read = group user/muthu4all (muthu4all)
	push = group user/muthu4all (muthu4all)
	label-Code-Review = -2..+2 group user/muthu4all (muthu4all)
	label-Verified = -1..+1 group user/muthu4all (muthu4all)
	rebase = group user/muthu4all (muthu4all)
	removeReviewer = group user/muthu4all (muthu4all)
	submit = group user/muthu4all (muthu4all)
[access "refs/heads/*"]
	read = group user/muthu4all (muthu4all)
	create = group user/muthu4all (muthu4all)
	push = +force group user/muthu4all (muthu4all)
	pushMerge = group user/muthu4all (muthu4all)
[access "refs/tags/*"]
	push = +force group user/muthu4all (muthu4all)
	pushTag = group user/muthu4all (muthu4all)
	pushSignedTag = group user/muthu4all (muthu4all)
